{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles%}
{% block body %}


<span class="d-block p-3 bg-dark text-white">Add Manufacturer </span>
    <br>
  <div class="container">
    <form method="POST">
      {% csrf_token %}

      <h4>{{ header }}</h4>
{{ form|crispy }}


<br>
          <button type="submit" class="d-block btn btn-primary btn-block ">Add Manufacturer</button>
 </form>
        </div>
<br><br><br>

  </div>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}