{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
{% load staticfiles%}

<br>

    </br>
 <span class="d-block p-3 bg-dark text-white">Add New Job </span>
<br>

  <div class="container">
    <form method="POST" action="" enctype="multipart/form-data">

      {% csrf_token %}

{{ form|crispy}}
      <h4>{{ header }}</h4>

        <br>

        <button type="submit" class="btn btn-primary btn-block">Create Job</button>
         <br><br><br><br>

    </form>
  </div>
    <style>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    </style>
{{ form.media }}

{% endblock %}