<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<meta charset="UTF-8">
    <title>Medical Equipment Management System</title>
    {% load static %}
<link rel="stylesheet" href="{%  static '/css/style.css' %}">
<link rel="stylesheet" href="{%  static '/css/bootstrap.min.css '%}">
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
</head>
<link rel="stylesheet" href="{%  static '/css/style.css' %}">
<link rel="stylesheet" href="{%  static '/css/bootstrap.min.css '%}">

<!  ----------------- sidebar--------------->
<body>

  <!-- Sidebar -->

  <!-- Content -->
<style>div.content {font-family: Arial;} </style>



  <div id="content">

      <nav class="navbar">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i></a>
          </li>
        </ul>
      </div>
    </nav>


      <div class="container-fluid">
          <nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top">
              <a class="navbar-brand" href="#"><h4>MEMS</h4></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
              </button>

          <div class="collapse navbar-collapse" id="navbarsExample06">
            <div class="navbar-nav mr-auto">

             <li class="nav-item active">
               <a class="nav-link" href="{% url 'display_equipments' %}">Home <span class="sr-only">(current)</span></a>
             </li>

             <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="{%  url 'display_equipments' %}" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Equipment</a>
                <div class="dropdown-menu" aria-labelledby="dropdown06">
                 <a class="dropdown-item" href="{%  url 'add_equipment' %}">Add Equipment</a>
                 <a class="dropdown-item" href="#">Equipment by Department</a>
                 <a class="dropdown-item" href="#">Equipment by Service Contract</a>
                 <a class="dropdown-item" href="#">Something else here</a>
                 <a class="dropdown-item" href="#">Something else here</a>
                </div>
             </li>

             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Jobs</a>
               <div class="dropdown-menu" aria-labelledby="dropdown06">
                <a class="dropdown-item" href="{% url 'add_jobs' %}">Add Job</a>
                <a class="dropdown-item" href="{% url 'display_jobs' %}">Display all jobs</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Something else here</a>
               </div>
             </li>

             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Department</a>
               <div class="dropdown-menu" aria-labelledby="dropdown06">
                 <a class="dropdown-item" href="{% url 'department_view' %}">Equipment by Department</a>
                 <a class="dropdown-item" href="#">Jobs by Department</a>
                 <a class="dropdown-item" href="#">Department by locations</a>
               </div>
             </li>


             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manufacturer</a>
               <div class="dropdown-menu" aria-labelledby="dropdown06">
                <a class="dropdown-item" href="#">View All Manufacturers</a>
                <a class="dropdown-item" href="#">Add new Manufacturer</a>
                <a class="dropdown-item" href="#">Something else here</a>
               </div>
             </li>


            <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contracts</a>
              <div class="dropdown-menu" aria-labelledby="dropdown06">
               <a class="dropdown-item" href="#">View All Contracts</a>
               <a class="dropdown-item" href="#">Search Contracts</a>
               <a class="dropdown-item" href="#">Add new Contract</a>
              </div>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Models</a>
            <div class="dropdown-menu" aria-labelledby="dropdown06">
              <a class="dropdown-item" href="#">View All Models</a>
              <a class="dropdown-item" href="#">Add new Model</a>
              <a class="dropdown-item" href="#">Add new Contract</a>
            </div>
          </li>




        <form class="form-inline my-2 my-md-0" style="padding-left: 400px">>
          <input class="search-label-icon" type="text" placeholder="Search Job">
        </form>

          <div class="padding">&nbsp;</div>
          <div class="padding">&nbsp;</div>
        <form class="form-inline my-2 my-md-0">
          <input class="search-label-icon" type="text" placeholder="Search Equipment">
        </form>

             <div class="text-white"style="padding-left:400px">
                {% if user.is_authenticated %}

                    <li><a href="{% url 'logout'%}?next={{request.path}}" title="Click to Logout" style="color: whitesmoke">Logout</a></li>
                    <h4>{{ user.get_username }}</h4>
                {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}"title="Click to Login" style="color: whitesmoke">Login</a></li>
                {% endif %}
        </div>
        </div>
    </nav>





      <div class="collapse navbar-collapse" id="navbarsExample06">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'display_equipments' %}">Home <span class="sr-only">(current)</span></a>
          </li>
           <li class="nav-item">
               <a class="nav-link" href="{% url 'display_equipments' %}">Home <span class="sr-only">(current)</span></a>

            </div>
          </li>
        </ul>





      </div>

    </nav>
</code>.
  <p> </p>
    </div>



  </div>

<div class="container" style="padding-top: 40px">
{%  block body %}

{%  endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% block js %}

{%  endblock js %}

</div>

</body>

    <!-- Placed at the end of the document so the pages load faster -->

</html>