{%  extends 'base.html' %}
{% load static %}
{%  block body  %}

<br>
    <div class="button-group">
        <a href="{% url 'display_equipment' %}" class="btn-primary btn-md" role="button"> Equipment </a>
        <a href="#" class="btn-warning btn-sm" role="button">+ </a>


     <a href="{%  url 'add_equipment' %}" class="btn-primary btn-md" role="button"> Add Equipment </a>
        <a href="#" class="btn-warning btn-sm" role="button">+ </a>

     <a href="#" class="btn-primary btn-md" role="button"> Service Manuals</a>
        <a href="#" class="btn-warning btn-sm" role="button">+</a>
    </div>
    </br>
    <td><h1>All Jobs</h1></td>
    <table class="table table-hover tab table-striped">
    <thead class="thead-dark">
    <tr>
    <th>Job Number</th>
    <th>Asset Id</th>
        <th>Job Type</th>
    <th>Department</th>
    <th>Job Status</th>
        <th> Date Created </th>



    </tr>
    </thead>

<tbody>
{%  for job in jobs %}
    <tr class="text-lg-left">
        <td><a href="{% url 'job_view' job.pk %}">{{ job.pk }}</a></td>
        <td><a href="{% url 'job_view' job.pk %}">{{ job.equipment }}</a></td>
        <td><a href="{% url 'job_view' job.pk %}">{{ job.job_type }}</a></td>
        <td><a href="{% url 'job_view' job.pk %}">{{ job.job_department }}</a></td>
        <td><a href="{% url 'job_view' job.pk %}">{{ job.job_status }}</a></td>
        <td><a href="{% url 'job_view' job.pk %}">{{ job.job_date }}</a></td>


    </tr>
{%  endfor %}

</tbody>
    </table>
{%  endblock %}
