{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}




  <div class="container">
    <form method="POST">
        

      {% csrf_token %}

      <h4>{{ header }}</h4>
        <br>
    <span class="d-block p-2 bg-dark text-white">Edit Job Number: {{ job_number}}</span>

{{ form|crispy }}

    <br>

        </br>


      <div class="form-group row">
        <div class="offset-sm-2 col-sm-6">

          <button type="submit" class="btn btn-primary">Update Job</button>

        </div>
      </div>
    </form>
  </div>


{% endblock %}