{%  extends 'base.html' %}
{% load static %}
{%  block body  %}


<br></br>
 <div class="row">

        <div class="col-sm-2 previous">
         <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Equipment
            </button>
             <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                 <a class="dropdown-item" href="{% url 'add_equipment'  %}">Add new Equipment</a>
                 <a class="dropdown-item" href="{% url 'display_equipment'  %}">View Equipment List</a>
                 <a class="dropdown-item" href="#">Something else here</a>
             </div>
         </div>
        </div>

        <div class="col-sm-2 next">
            <div class="dropdown">
                 <button class="btn btn-secondary dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Jobs
                 </button>
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     <a class="dropdown-item" href="{% url 'add_jobs'  %}">Create New Job</a>
                     <a class="dropdown-item" href="{% url 'display_jobs'  %}">View Jobs</a>
                     <a class="dropdown-item" href="#">Something else here</a>
                 </div>
            </div>
        </div>
    </div>


    <br></br>
<td><h1>All Jobs</h1></td>
<br></br>
   <div class="container">
   <h4 style="margin-top: 0">Filter</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
    <form method="get">

      {{ filter.form.job_department }}
        {{ filter.form.job_status }}
        </div>


        <button type="submit" class="btn btn-primary">Search</button>
    </form>



    <table id="table_id" class="table table-hover tab table-striped">
    <thead class="thead-dark">
    <tr>
    <th>Job Number</th>
    <th>Asset Id</th>
    <th>Job Type</th>
    <th>Department</th>
    <th>Job Status</th>
    <th> Date Created </th>



    </tr>
    </thead>

<tbody>
{%  for job in filter.qs %}
    <tr class="text-lg-left">
        <td><a href="{% url 'view_job' job.pk %}">{{ job.pk }}</a></td>
        <td><a href="{% url 'view_job' job.pk %}">{{ job.equipment }}</a></td>
        <td><a href="{% url 'view_job' job.pk %}">{{ job.job_type }}</a></td>
        <td><a href="{% url 'view_job' job.pk %}">{{ job.job_department }}</a></td>
        <td><a href="{% url 'view_job' job.pk %}">{{ job.job_status }}</a></td>
        <td><a href="{% url 'view_job' job.pk %}">{{ job.job_date }}</a></td>


    </tr>
{%  endfor %}

</tbody>
    </table>
{%  endblock %}
{% block js %}

    </div>

{% endblock js %}