{% extends 'base.html' %}

{% block body %}



  <div class="container">
    <form method="POST">

      {% csrf_token %}

      <h4>{{ header }}</h4>
        <br>
        </br>
 <span class="d-block p-3 bg-warning text-center ">Job Number: {{ job_number}} </span>
 <span class="d-block p-2 bg-danger">Job Status: {{ instance.job_status }} </span>
 <span class="d-block p-2 bg-danger">Job Final Status: {{ instance.job_final_status }} </span>
 <span class="d-block p-2 bg-dark text-white">Assigned to: {{ instance.person}} </span>
    <a class="btn btn-primary btn-block ali" href="{% url 'edit_job' job_number %}" role="button">Click to Edit Job</a>
        <div class="form-group row">
        <div class="offset-sm-2 col-sm-6">


        </div>
      </div>
<table class="table table-dark table-striped table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <tr>
      <th scope="row">Job Assigned to :</th>
      <td>{{ instance.job_number}}</td>
    </tr>
   <tr>
      <th bgcolor="#f0f8ff" scope="row"></th>
      <td bgcolor="#f0f8ff"></td>
    </tr>

    <tr>
      <th scope="row">Job Number :</th>
      <td>{{ instance.job_number}}</td>
    </tr>
    <tr>
        <tr>
      <th scope="row">Job Department :</th>
      <td>{{ instance.job_department}}</td>
    </tr>
    <tr>
      <th scope="row">Equipment Id :</th>
        <td><a href="{% url 'view_equipment' instance.equipment %}">{{instance.equipment }}</a></td>
    </tr>
    <tr>
      <th scope="row">Equipment Type :</th>
        <td>{{instance.equipment.category}}</td>
    </tr>


    <tr>
      <th scope="row">Manufacturer :</th>
        <td>{{instance.equipment.manufacturer }}</td>
    </tr>
     <tr>
      <th scope="row">Model :</th>
        <td>{{instance.equipment.model }}</td>
    </tr>



        <tr>
      <th scope="row">Job Status :</th>
      <td>{{ instance.job_status }}</td>
    </tr>
    <tr>
      <th scope="row">Date Created :</th>
      <td>{{instance.job_date }}</td>
    </tr>
      <tr>
      <th scope="row">Job Type :</th>
      <td>{{ instance.job_type}}</td>
    </tr>
    <tr>
      <th scope="row">Job Description :</th>
      <td>{{instance.job_description }}</td>
    </tr>
     <tr>
      <th bgcolor="#f0f8ff" scope="row"></th>
      <td bgcolor="#f0f8ff"></td>
    </tr>

    <tr>
      <th scope="row">Work Done</th>
      <td>{{instance.job_work_done}}</td>
    </tr>
    <tr>
      <th scope="row">Time Spent</th>
        <td><h6>{{instance.job_time_taken }}</h6></td>
    </tr>
    <tr>
      <th scope="row">Job Cost</th>
        <td><h6>{{instance.job_cost }}</h6></td>
    </tr>

    <tr>
      <th scope="row">Job Description</th>
      <td>{{instance.job_description }}</td>
    </tr>
  <tr>
      <th scope="row">Spares Used</th>
      <td>{{instance.stock}}</td>
    </tr>

  <tr>

      <th scope="row">Job Sheet</th>
      <td><a href="{{ MEDIA_URL }}{{ instance.job_sheet }}">{{ instance.job_sheet }}</a></td>
    </tr>

  </tbody>
</table>
<div class="form-group row">
        <div class="offset-sm-2 col-sm-6">

<a class="btn btn-primary" href="{% url 'display_jobs' %}" role="button">All Jobs</a>
<a class="btn btn-primary" href="{% url 'edit_job' job_number %}" role="button">Edit Job</a>
        </div>
      </div>


    </form>
  </div>


{% endblock %}