{%  extends 'base.html' %}
{% load static %}
{%  block body  %}

<br>
    <div class="button-group">
        <a href="{% url 'display_equipment' %}" class="btn-primary btn-md" role="button"> Equipment </a>
        <a href="#" class="btn-warning btn-sm" role="button">+ </a>


     <a href="{%  url 'add_equipment' %}" class="btn-primary btn-md" role="button"> Add Equipment </a>
        <a href="#" class="btn-warning btn-sm" role="button">+ </a>

     <a href="#" class="btn-primary btn-md" role="button"> Service Manuals</a>
        <a href="#" class="btn-warning btn-sm" role="button">+</a>
    </div>
    </br>
    <td><h1>All Jobs</h1></td>
    <table class="table table-hover">
    <thead>
    <tr>
    <th>Job Number</th>
    <th>Asset Id</th>
        <th>Job Type</th>
    <th>Department</th>
    <th>Job Status</th>
        <th> Date Created </th>



    </tr>
    </thead>

<tbody>
{%  for job in jobs %}
    <tr>
<td>{{ job.pk}}</td>
    <td>{{ job.equipment }}</td>
    <td>{{ job.job_type }}</td>
    <td>{{ job.job_department }}</td>
    <td>{{ job.job_status }}</td>
    <td>{{ job.job_date }}</td>
    </tr>
{%  endfor %}

</tbody>
    </table>
{%  endblock %}
